/* Author: Amanda Rovey
   File Name: Assignment 9.2 - bioSite Project Delivery
   Date: March 6, 2024
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Common styles for body and images */
body {
  background-color: #F6EAF4;
  font-family: 'Lora', serif;
}

img {
  max-width: 100%;
  display: block;
}

/* Header styles */
header {
  text-align: center;
  background-size: cover;
  color: #000; 
  background-color:#FFD2F4;
}

header h1, header h3 {
  text-align: center;
}

header h1 {
  font-family: 'Emblema One';
  margin-bottom: 0;
}

header h3 {
  margin-top: 0;
}

header img {
  margin: auto;
}

/* Navigation styles */
nav {
  background-color: #9F5994;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  border-top: 0.5px solid #F6EAF4;
  display: block;
  font-size: 1.5em;
  font-family: Geneva, Arial, sans-serif;
  font-weight: bold;
}

nav li a {
  display: block;
  color: #F6EAF4;
  text-align: center;
  padding: 0.5em 2em;
  text-decoration: none;
}

/* Navigation hover styles */
nav li a:hover {
  color: #2a1f14;
  background-color: #F6EAF4;
  transition: color 0.3s, background-color 0.3s; 
}

/* Main content styles */
main {
  padding: 2%;
  overflow: hidden;
}

main h1 {
  text-align: center;
}

/* Alternate row background colors */
.row:nth-child(even) {
  background-color: #FFF0F5;
}

.row:nth-child(odd) {
  background-color: #F6EAF4;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styles for the columns */
.column {
  flex-basis: 48%; 
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column img, .gallery img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 6px solid #9F5994;
  border-radius: 8px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

/* Paragraph styles in main content */
main p {
  font-size: 1.25em;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

/* Gradient Text - not covered in course textbook */
.gradient-text {
  background-image: linear-gradient(to right, #9f5994, #FF00D6);
  color: transparent;
  background-clip: text;
}

/* Style rules for table */
table {
  border: 1px solid #2a1f14;
  border-collapse: collapse;
  margin: 0 auto;
}

caption {
  font-size: 1.5em;
  font-weight: bold;
  padding: 1%;
}

th, td {
  border: 1px solid #2a1f14;
  padding: 1%;
}

th {
  background-color: #9F5994;
  color: #fff;
  font-size: 1.15em;
}

tr:nth-child(odd) {
  background-color: #FFF0F5;
}

/* Footer styles */
footer {
  font-size: 0.85em;
  text-align: center;
  background-color: #9F5994;
  color: #F6EAF4;
  padding: 1% 0%;
}

footer a {
  color: #9F5994;
  text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 681px), print {
  header h1, header h3 {
    padding: 2%;
    text-align: center;
    font-family: 'Emblema One', system-ui;
  }

  .mobile, .tablet-desktop {
    display: none;
  }

  .tab-desk {
    display: block;
  }

  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.25em;
  }

  nav li a {
    padding: 0.5em;
  }
}

figcaption h2, h3 {
  text-align: center;
}

.gallery-item figcaption ul {
  list-style-type: disc;
  margin-left: 40px;
  font-size: 1.25em;
}

.gallery-item audio {
  display: block;
  margin: 0 auto;
}

/* focus- not covered in course textbook and added for accessibility */ 
audio:focus {
  outline: none;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  nav li {
    font-size: 1.5em;
  }

  nav li a {
    padding: 0.5em 1.5em;
  }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
  body {
    background: #9F5994;
  }
  main {
    background: linear-gradient(#FFD2F4, #fff); /*I went with a subtle gradient */
  }
}

/* Media Query for Print */
@media print {
  body {
    background-color: #fff;
    color: #000;
  }
}

/* Hero image styles */
#hero {
  text-align: center;
  margin-bottom: 0;
  position: relative; 
}

#hero video {
  width: 100%; 
  height: auto;
  max-width: 100%; 
}

/* Styles for the image section */
.column {
  flex-basis: 48%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.column img {
  width: 65%;
  height: auto;
  display: block;
  margin: auto; 
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 680px) {
  .image-section img {
    width: 10%;
    float: none;
    margin: 0;
    justify-content: center;
  }
  .row {
    flex-direction: column;
  }

  .column {
    flex-basis: 100%;
  }

  .column img {
    width: 100%;
    margin: 0;
  }

  /* Hide hero video in mobile view*/
  #hero video {
    display: none;
  }
} 

/* Media Query for Tablet and Desktop Viewport */
@media screen and (min-width: 681px), print {
  #table.mobile {
    display: none;
  }

  #partner.desktop {
    display: block;
  }
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 680px) {
  #table.mobile {
    display: block;
  }

  #partner.desktop {
    display: none;
  }
}

/* Hobby page styles */
.gallery {
  display: grid;
  grid-gap: 60px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #FFF0F5;
  padding-bottom: 30px;
}

.gallery-item img {
  width: 100%; /* Adjust the width for all screen sizes */
  height: auto;
  display: block;
  margin-top: 20px;
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1000px), print {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns for desktop */
  }
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 681px) and (max-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr; /* Two columns for tablet */
  }
}

/* Media Query for Mobile Viewport */
@media screen and (max-width: 680px) {
  .gallery {
    grid-template-columns: 1fr; /* One column for mobile */
  }
}

/* For scroll text on hobby page */
@keyframes slide {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.gallery-item .scroll-text {
  animation: slide 10s linear infinite;
  white-space: nowrap;
  overflow: hidden;
}

/* after - not covered in course textbook */
.gallery-item h3::after {
  content: "\1F3B5"; 
  margin-left: 10px;
}

/* abbr - not covered in course textbook */
abbr[title] {
  text-decoration: none;
  border-bottom: 2px dashed #000;
  cursor: help;
  position: relative;
}

abbr[title]:hover::after {
  content: " (" attr(title) ")";
  color: #000;
  background-color: #fff;
  padding: 5px;
  position: absolute;
  top: 50%;
  right: 100%; 
  transform: translateY(-50%); 
  white-space: nowrap;
  border: 1px solid #000;
  border-radius: 5px;
}

/* Styles for links */
a {
  color: #9F5994; 
  text-decoration: none; 
  font-weight: bold; 
}

/* Link Focus Style for accessibility */
a:focus {
  outline: 5px solid #000;
}

/* Added quote box to home page */
.quote-box {
  max-width: 400px;
  padding: 20px;
  background-color: #F6EAF4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.quote-box:hover {
  transform: scale(1.05);
}

.quote-text {
  color: #333;
  font-size: 1.25rem;
  font-style: italic;
}

.quote-author {
  margin-top: 10px;
  color: #666;
  font-size: 1rem;
}
